*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.shop-category{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #4024ae;
    
  }
.box{
    height: 400px;
    width: 28%;
    margin-top:70px ;
    background-color:#e8e6df ;
    padding: 23px 0px 17px;
    border-radius: 20%;
    color: #02162b;
    margin-bottom: 20px;
    /* animation: coloranimate 5s infinite; */
  }
  .box:hover{
    background-color: #FFC300;
    transition: 2s;
  }
  /* @keyframes coloranimate {
    from {background-color:#FFC300;}
    to {background-color:#e8e6df;}
  } */
  .boximg{
    height: 350px;
    margin-left: 1rem;
    margin-right: 1rem;
    background-size: cover;
    border-radius: 10%;
    
  }
  .box-2{
   background: url(images/img7.jpg);
   background-size: cover;
  
  }
  .content{
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    text-align: center;
  }

.content a{
    text-decoration: none;
}