*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height:100px ;
    background-color:#001D3D;
    color: #FFC300;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 100px;
    width: 100px;

}
.logo{
    height:100%;
    background-size: cover;
    display: flex;
    width: 50%;
}
img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.border{
    border: 1.25px solid transparent;
}
.border:hover{
    border: 2px solid #FFC300;
}
.add-icon{
    display: flex;
    align-items: center;
}
.adddel{
    color: #FFC300;
    font-size: 1.2rem;
    margin-left: 15px;
}
.addin{
    font-size: 1rem;
    margin-left: 5px;
}
.nav-search{
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
}
.nav-search:hover{ 
    border:2px solid #FFC300;
    border-radius: 4px;
}
.search-select{
    background-color: #FFC300;
    width: 50px;
    text-align: center;
    color: white;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1.17rem;
    border: none;
}
.search-icon{
    color: white;
    width:45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:1.2rem ;
    background-color:#FFC300;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

span{
    font-size: 1.2rem;
}
.navbar a{
    text-decoration: none;
    color: #FFC300;
}
.ac{
    font-weight: 600;
}
.Sign-in a{
    text-decoration: none;
}
.returns{
    font-size: 1.2rem;
}
.cart i{
    font-size: 40px;
}
.cart{
    font-weight: 700;
}
/* PANEL */
.panel{
    background-color:#003566;
    display: flex;
    height:50px;
    align-items: center;
    justify-content: space-evenly;
    color: #FFC300;
}
.panel a{
    text-decoration: none;
    color: #FFC300;  
}
.options a
{   
    display: inline;
    justify-content: space-between;
    font-size: 1.15rem;
    margin-left: 20px;
    text-decoration: none;
    color: #FFC300;
}
.options{
    width: 80%;
}
.deals a{
    font-size: 1.15rem;
    font-weight: 700;
    text-decoration: none;
    color: #FFC300;  
}
/* feature products */
.fcontainer{
    max-width: 100%;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    background:linear-gradient(120deg,#3e23ad,#9f4c90);
}
.wavy{
    padding-top: 40px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: 30px;
    color: #ffc400b7;
    position: relative;
    -webkit-box-reflect: below -12px linear-gradient(transperent,rgba(228, 243, 16, 0.958));
}
.wavy span{
    position: relative;
    display: inline-block;
    font-size: 2em;
    text-transform: uppercase;
    animation: animate 2s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
}
@keyframes animate{
    0%{
        transform: translateY(0px);
    }
    20%{
        transform: translateY(-20px);
    }
    40%,100%{
        transform: translateY(0px);
    }
}
.row{
    display: flex;
    flex-direction: wrap;
    justify-content: space-evenly;
    margin-top: 50px;
}
.fbox{
    flex-basis: 25%;
    padding: 30px ;
    min-width:300px;
    margin-bottom: 50px;
    margin-left: 30px;
    background-color: rgb(222, 215, 215);
    border-radius: 15px;
    transition: 1s;
}
.fbox img{
    height: 430px;
    background-size: cover;
    width: 100%;
}
.fbox:hover{
    transform: translateY(-10px);
    background-color: #FFC300;
}
h4{
    margin-top: 15px;
    color: #555;
    font-weight: normal;
    font-size: 18px;
}
.rating{
    margin-top: 10px;
    color: #ff523b;
}
.fbox p{
    margin-top:10px ;
    font-size: 17px;
}
.fbox .free{
    color: #3f3d3d;
    font-size: 15px;
}
.fbox button{
  appearance: button;
  background-color: #21617e;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
  margin-top: 10px;
}

.fbox button:after {
  background-clip: padding-box;
  background-color: #25a8e4;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.fbox button:main,
.fbox button:focus {
  user-select: auto;
}

.fbox button:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.fbox button:disabled {
  cursor: auto;
}

.fbox button:active {
  border-width: 4px 0 0;
  background: none;
}
    /* footer */
.footpanel{
    background-color:#001D3D;
    border-top: 2px solid rgb(146, 140, 140);
}
.footlogo{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.feat{
    height: 50px;
    border-top: 2px solid rgb(146, 140, 140) ;
    color: #FFC300;
    font-size: 0.85rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.copyright{
    color: #FFC300;
    text-align: center;
    font-size: 0.85rem;
}



